* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
}

@font-face {
        font-family: castle;
        src: url("font/Castle Begale.otf");
}

body::-webkit-scrollbar {
        width: 0;
        scroll-behavior: smooth;
}

header {
        width: 100%;
        height: 60px;
        padding: 8px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #131921;
        color: white;
        user-select: none;
}

header .logo h1 {
        color: white;
        word-spacing: 1px;
        letter-spacing: 4px;
        transform: skew(10deg);
        perspective: 800px;
        padding: 0 5px;
        font-size: 23px;
}

header .logo h1 span {
        font-family: castle;
        line-height: 10px;
}

.logo h1 span:nth-child(1),
.logo h1 span:nth-child(2),
.logo h1 span:nth-child(3),
.logo h1 span:nth-child(4) {
        color: #F3A847;
}


header .location {
        display: flex;
        align-items: center;
}

header .location i {
        padding: 2px;
        font-size: 23px;
        cursor: pointer;
}

header .location p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        cursor: pointer;
        position: relative;
}

.location .hello p::before {
        content: ' Hello';
        position: absolute;
        top: -9px;
        color: silver;
        font-family: Arial, sans-serif;
        font-size: 12px;
}

header .option {
        display: flex;
        padding: 0;
}

.option #wear {
        height: 43px;
        width: auto;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
        background: silver;
        padding: 0 5px;
        border: none;
}

#wear option {
        background: white;
        font-size: 16px;
}

.two input {
        width: 300px;
        height: 43px;
        font-size: 17px;
        border: none;
}

.three button {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #F3A847;
        height: 43px;
        width: 50px;
        border: none;
        cursor: pointer;
}

header .lang {
        cursor: pointer;
        margin-left: 4px;
}

header .lang .both {
        display: flex;
        align-items: center;
        justify-content: center;
}

.eng p {
        font-size: 12px;
        font-family: Arial, sans-serif;
        padding: 0;
}

.both i {
        padding: 0 8px;
        margin-bottom: 7px;
}

header .account {
        cursor: pointer;
        margin-top: 5px;
}

.account .first-p {
        padding: 0;
        margin: -9px 0;
}

.two-p {
        padding: 0;
        margin: 0;
}

header .account .first-p p {
        font-size: 12px;
        font-family: Arial, sans-serif;
}

header .account .two-p {
        display: flex;
        justify-content: flex-start;
}

header .account .two-p p {
        font-weight: bold;
        font-family: Arial, sans-serif;
        padding-right: 5px;
}

header .order {
        cursor: pointer;
        margin-top: 5px;
}

.order a {
        color: white;
}

.or-p {
        margin: -9px 0;
}

.order .or-p p {
        font-family: Arial, sans-serif;
        font-size: 12px;
}

.order .or-deal {
        font-family: Arial, sans-serif;
        font-weight: bold;
}

header .cart {
        cursor: pointer;
        margin-top: 9px;
}

header .cart i {
        font-size: 22px;
        color: #F3A847;
        margin-left: 15px;
}

header .cart p {
        margin-right: 6px;
}

.area1 {
        width: 340px;
        height: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        box-shadow: 0 0 10px silver;
        border-radius: 10px;
        overflow: hidden;
        display: none;
}

.area1 div {
        padding: 13px 0;
}

.area1 div:nth-child(1) {
        background: #F3F3F3;
        display: flex;
        justify-content: space-between;
}

.area1 div:nth-child(1) p {
        font-size: 16px;
        font-weight: bold;
}

.area1 div:nth-child(1) i {
        margin-right: 8px;
        font-size: 17px;
        font-weight: 100px;
        cursor: pointer;
}

.area1 div:nth-child(2) p {
        font-size: 13px;
        color: gray;
}

.area1 div:nth-child(3) {
        background: #F7CA00;
        width: 300px;
        text-align: center;
        margin-left: 15px;
        border-radius: 10px;
}

.area1 div:nth-child(3) a {
        font-weight: 500;
        color: black;
        font-size: 14px;
        padding: 0px 0;
}

.area1 div:nth-child(4) {
        text-align: center;
        position: relative;
}

.area1 div:nth-child(4) p {
        color: gray;
        font-size: 13px;
}

.area1 div:nth-child(4) p::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 2%;
        width: 78px;
        height: 1px;
        background: gray;
}

.area1 div:nth-child(4) p::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 2%;
        width: 78px;
        height: 1px;
        background: gray;
}

.area1 div:nth-child(5) {
        margin-left: 15px;
        display: flex;
}

.area1 div:nth-child(5) input {
        width: 160px;
        height: 26px;
        border-radius: 4px;
}

.area1 div:nth-child(5) a {
        display: block;
        width: 100px;
        border-radius: 10px;
        margin-left: 15px;
        height: 26px;
        text-align: center;
        color: black;
        padding: 2px 8px;
        border: 1px solid gray;
}

.area1 div:nth-child(5) a:hover {
        background: #F7FAFA;
}


.area1 a,
p {
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px 15px;
}

.extras {
        width: 170px;
        display: none;
}

.extras::before {
        content: '';
        font-family: fontAwesome;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 48px;
        left: 907px;
        background: white;
        clip-path: polygon(48% 27%, 0% 100%, 100% 100%);
}

.area2 {
        width: 170px;
        height: 185px;
        position: absolute;
        top: 10%;
        left: 71%;
        bottom: 2px;
        background: white;
        box-shadow: 0 0 10px silver;

}

.area2 div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2px;
}

.area2 p {
        margin-left: 22px;
        cursor: pointer;
}

.area2 span {
        border: 1px solid black;
        border-radius: 20px;
        width: 16px;
        height: 16px;
        margin-left: 15px;
        display: block;
        position: relative;
}

.defalt i {
        margin-left: 5px;
        cursor: pointer;
}

.area2 .defalt span::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 23px;
        width: 7px;
        height: 7px;
        border: 1px solid silver;
        border-radius: 50%;
        background: #F3A847;
}

.area2 .defalt1 span::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 23px;
        width: 7px;
        height: 7px;
        border: 1px solid silver;
        border-radius: 50%;
        background: #F3A847;
}

.extra2 {
        display: none;
}

.extra2::before {
        content: '';
        font-family: fontAwesome;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 48px;
        left: 84.60%;
        background: white;
        clip-path: polygon(48% 27%, 0% 100%, 100% 100%);
}


.area3 {
        width: 500px;
        height: 370px;
        position: absolute;
        top: 10%;
        left: 50%;
        bottom: 2px;
        background: white;
        box-shadow: 0 0 10px silver;
        padding: 15px;
        display: flex;
        flex-direction: column;
}

.in {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        border-bottom: 1px solid silver;
}

.area3 .in>a {
        display: block;
        width: 180px;
        text-align: center;
        padding: 4px 0;
        border-radius: 4px;
        background: #F3CC6D;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
}

.summery {
        display: flex;
        justify-content: space-around;
        padding: 15px;
}

.f-ul {
        border-right: 1px solid silver;
        padding-right: 20px;
}

.area3 .f-ul h1 {
        font-size: 18px;
        font-family: arial;
        font-weight: bold;
}

.area3 .f-ul li {
        padding: 1px 0px;
        text-align: left;
}

.area3 .f-ul li a {
        font-family: Arial, sans-serif;
        cursor: pointer;
        text-align: left;
        font-size: 14px;
}

.area3 .f-ul li a:hover {
        color: red;
}

.area3 .t-ul li a:hover {
        color: red;
}

.area3 .t-ul h1 {
        font-size: 18px;
        font-family: arial;
        font-weight: bold;
}

.area3 .t-ul li {
        padding: 1px 0px;
}

.area3 .t-ul li a {
        font-family: Arial, sans-serif;
        cursor: pointer;
        text-align: left;
        font-size: 14px;
}

/* section  one */

#one {
        width: 100%;
        background: #232F3E;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        color: white;
}

#one .nav {
        display: flex;
        cursor: pointer;
}

.nav i {
        font-size: 19px;
}

.nav p {
        font-weight: bold;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 7px;
}

#one .menu-list ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
}

.menu-list ul li {
        padding: 0 10px;
}

.menu-list ul li a {
        color: white;
        font-family: arial;
        font-size: 15px;
}

#two {
        width: 100%;
        background: #EAEDED;
        padding: 25px;
        display: flex;
        justify-content: space-around;
}

.been {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: white;
        width: 900px;
}

.been>img {
        width: 380px;
        height: 300px;
        margin: 0 1rem;
}

.empty {
        padding: 20px 0;
}

.empty h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 10px 0;
}

.empty a {
        margin-bottom: 1rem;
        display: block;
        color: blue;
}

.empty>a:hover {
        color: red;
        text-decoration: underline;
}

.bro {
        display: flex;
}

.bro a:nth-child(1) {
        background: #F7CA00;
        display: block;
        padding: 6px 15px;
        color: black;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 8px;
}

.bro a:nth-child(2) {
        border: 1px solid silver;
        display: block;
        padding: 6px 4px;
        color: black;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
}

.bro a:nth-child(2):hover {
        background: #EAEDED;
}

.been:empty {
        height: 150px;
        border-radius: 3px;
        background: white;
}

.ruph {
        background: white;
        width: 900px;
        height: 100px;
        margin: 2rem 0;
}

.ruph1 {
        width: 900px;
        height: 130px;
        margin: 1rem 0;
}

.ruph1 p {
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
}

.right {
        background: white;
        padding: 10px 2px;
        margin-left: 1rem;
        border-radius: 4px;
        width: 300px;

}

.right>div p {
        font-size: 16px;
        font-weight: bold;
}

.flx {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 6px 0;
}

.flx img {
        width: 130px;
        height: 100px;
}

.colum {
        padding: 5px;
}

.colum a:nth-child(1) {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
}

.colum a {
        display: block;
}

.colum i {
        color: #F3A847;
}

.colum .clk1 {
        color: brown;
}

.colum .clk2 {
        background: #F7CA00;
        padding: 2px;
        width: 95px;
        text-align: center;
        border-radius: 6px;
}

.colum .clk3 {
        border-radius: 6px;
        border: 1px solid silver;
        padding: 3px 1px;
        font-size: 14px;
        text-align: center;
}

.colum .clk3:hover {
        background: #EAEDED;
}





#three {
        width: 100%;
}

#three .main {
        margin-top: 3rem;
        border-top: 1px solid black;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid silver;
}

.plus {
        display: flex;
        justify-content: space-between;
}

.plus>p {
        font-weight: bold;
        font-size: 18px;
}

.plus .joy {
        display: flex;
}

.joy p {
        color: gray;
        padding: 0 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
}

.joy p:nth-child(2) {
        position: relative;
}

.joy p:nth-child(2)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 14px;
        background: silver;
}

.group {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
}

.group>div {
        width: 320px;
        padding: 0 10px;
}

.group>div img {
        width: 100px;
        height: 150px;
        object-fit: cover;
        margin-left: 13px;
}

.group2 {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        border-bottom: 1px solid silver;
        padding-bottom: 20px;
}

.group2>div {
        width: 320px;
        padding: 0 10px;
}

.group2>div img {
        width: 100px;
        height: 150px;
        object-fit: cover;
        margin-left: 13px;
}

.diff {
        margin-top: 10px;
}

.diff .true {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
}

.true a {
        color: gray;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
}

.true p {
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
}

.can {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px 0;
}

.can>a {
        padding: 4px;
        display: block;
        background: #F7CA00;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        border-radius: 4px;
        border: 1px black;
        width: 220px;
        text-align: center;
        font-weight: bold;
}

.can .loop {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
}


#four {
        width: 100%;
        margin-top: 4rem;
}

#four>a {
        display: block;
        text-align: center;
        line-height: 40px;
        height: 40px;
        color: white;
        background: hwb(209 8% 79%);
        font-family: Arial, Helvetica, sans-serif;
}

.parent {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #232F3E;
        padding: 50px 0;
        border-bottom: 1px solid silver;
}

.parent ul h1 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
}

.parent li {
        margin: 6px 0;
}

.parent li a {
        color: silver;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
}

.parent li a:hover {
        text-decoration: underline;
}

.whole {
        background: #232F3E;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
}

.pats {
        background: #232F3E;
}

.pat {
        background: #232F3E;
        display: flex;
        justify-content: center;
        align-items: center;
}

.pat ul {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 2rem;
}

.pat ul li {
        margin: 0 5px;
}

.pat ul li a {
        color: silver;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        display: block;
}

footer {
        width: 100%;
        padding: 30px;
        background: #131A22;
}

.all {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 5rem;
}

.end {
        width: 250px;
        margin: 10px;
}

.end h1 {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        padding: 0;
        margin: 0;
        cursor: pointer;
}

.end p {
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
        padding: 0;
        margin: 0;
        cursor: pointer;
}

body {
        user-select: none;
}