* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
}

body {
        background: #faf9f9;
}

section {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
}

.logo {
        display: flex;
        justify-content: center;
}

.page h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin-left: 3rem;
}

span:nth-child(1),
span:nth-child(2),
span:nth-child(3),
span:nth-child(4) {
        color: #F3A847;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;

}

.content {
        width: 370px;
        height: 300px;
        border: 1px solid black;
        margin-top: 2rem;
        border-radius: 5px;
        padding: 25px;
}

.content h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;

}

.content p,
a {
        padding: 10px 0;
        font-family: arial;
        font-size: 15px;
}

.content input {
        width: 330px;
        height: 25px;
        margin: 10px 0;
        border-radius: 3px;
        border: 1px solid black;
}

.content .btn1 {
        display: block;
        text-align: center;
        padding: 8px 0;
        background: #F1C75F;
        border-radius: 3px;
        color: black;
}

.content .btn {
        display: block;
        margin-top: 10px;
}

.text p {
        padding: 25px 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: center;
        position: relative;
}

.text p:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 270px;
        width: 110px;
        height: 1px;
        background: #354f52;
}

.text p:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 270px;
        width: 110px;
        height: 1px;
        background: #354f52;
}

.text a {
        text-align: center;
        display: block;
        padding: 8px 0;
        font-family: Arial, Helvetica, sans-serif;
        background: #F9F9F9;
        color: black;
        border-radius: 4px;
}

.one {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        padding: 0;
}

.one a {
        margin: 0 15px;
}